* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./images/city.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}